In [1]:
# dependencies
import pandas as pd
import requests
import pymongo
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo
from splinter import Browser
from bs4 import BeautifulSoup as bs

# import urlparse

In [2]:
# chrome driver
executable_path = {"executable_path": "../chromedriver/chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)

In [3]:
## NASA MARS NEWS ##

In [4]:
# scrape NASA news site and collect latest article title and paragraph

latest_url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

browser.visit(latest_url)

In [6]:

html = browser.html

nasa_soup = bs(html, 'html.parser')
    
#     nasa_div = nasa_soup.find_all('div', class_='list_text')
    
#     for divs in nasa_div:
        
# put the title and paragraph into callable variables

nasa_title = nasa_soup.find_all('div', class_='content_title')[1].text

nasa_paragraph = nasa_soup.find_all('div', class_='article_teaser_body')[0].text
        

print("Title:", nasa_title) 
print("Text:", nasa_paragraph)

Title: My Culture, My Voice
Text: In honor of Hispanic Heritage Month, Christina Hernandez, an instrument engineer on the Mars 2020 mission, talks about her childhood and journey to NASA.

In [7]:
# JPL MARS IMAGES

In [8]:
# Visit the url for JPL Feature Space Image here, using splinter (Browser) to navigate the site


JPL_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

browser.visit(JPL_url) 

html = browser.html

mars_image_soup = bs(html, 'html.parser')

In [9]:
# inspecting the data (want the first image in its full size jpg) 
# mars_image_soup.find_all('img') 

mars_image = mars_image_soup.find_all('img')[3] 
mars_image = mars_image['src'] 
mars_image

'/spaceimages/images/wallpaper/PIA24112-640x350.jpg'

In [10]:
# get the desired url and save it in a variable called featured image url
# featured_image_url = JPL_url + mars_image
# featured_image_url
# FIX the overwrite in the final url
new_JPL_URL = "https://www.jpl.nasa.gov" 

featured_image_url = new_JPL_URL + mars_image
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24112-640x350.jpg'

In [11]:
# checking if successful 
# browser.visit(featured_image_url)

In [12]:
# MARS FACTS

In [13]:
# use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc
#refer to Unit-12, Day 1, Activity 07 for documentation and help 

mars_facts_url = "https://space-facts.com/mars/"

browser.visit(mars_facts_url)

In [14]:
pd_mars_facts = pd.read_html(mars_facts_url)
pd_mars_facts

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [15]:
mars_facts_table = pd_mars_facts[0]
mars_facts_table

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [16]:
# rename the tables columns 
mars_facts_df = mars_facts_table
mars_facts_df.columns = ["Description", "Mars"] 
mars_facts_df

            Description                           Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [17]:
# set index to description to match instructions
mars_facts_df.set_index('Description', inplace=True)
mars_facts_df.head()

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)

In [18]:
# Use Pandas to convert the data to a HTML table string
mars_html_table = mars_facts_df.to_html()
mars_html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [19]:
# strip unwanted new lines to clean table 

mars_html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [20]:
# MARS Hemispheres

In [49]:
# visit the USGS astrology site to obtain high res images for each of Mars' hemispheres
# you will need to click on each of the links to the hemispheres to find the image url to the full image

usgs_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"

browser.visit(usgs_url) 

# html = browser.html

# hemisphere_soup = bs(html, 'html.parser')

In [51]:
# print(hemisphere_soup) 
hemisphere_image_urls = []

for i in range(4):
    
    browser.find_by_tag('h3')[i].click()
    html = browser.html
    hemi_soup = bs(html, 'html.parser') 
    data = {
        "title": hemi_soup.find('h2').text,
        "url": hemi_soup.find('div', class_='downloads').a['href'],
    }
    hemisphere_image_urls.append(data) 
    
    browser.back() 
    
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [ ]:
# go into each page to scrape the title and image and save as string

# # Cerberus Hemisphere
# cerb_url = "https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced"
# browser.visit(cerb_url)
# html = browser.html
# cerb_soup = bs(html, 'html.parser')
# # cerb_soup
# cerb_title = cerb_soup.find('h2', class_='title').text 
# c_image_url = cerb_soup.find('div', class_='downloads')
# c_image_url = c_image_url.a['href'] 


# # Schiaparelli 
# schia_url = "https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced"
# browser.visit(schia_url)
# html = browser.html
# schia_soup = bs(html, 'html.parser')
# # schia_soup
# schia_title = schia_soup.find('h2', class_='title').text 
# schia_image_url = schia_soup.find('div', class_='downloads')
# schia_image_url = schia_image_url.a['href'] 

# # Syrtis Major 
# syrtis_url = "https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced"
# browser.visit(syrtis_url)
# html = browser.html
# syrtis_soup = bs(html, 'html.parser')
# # syrtis_soup
# syrtis_title = syrtis_soup.find('h2', class_='title').text 
# syrtis_image_url = syrtis_soup.find('div', class_='downloads')
# syrtis_image_url = syrtis_image_url.a['href'] 

# # Valles Marineries
# valles_url = "https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced"
# browser.visit(valles_url)
# html = browser.html
# valles_soup = bs(html, 'html.parser')
# # valles_soup
# valles_title = valles_soup.find('h2', class_='title').text 
# valles_image_url = valles_soup.find('div', class_='downloads')
# valles_image_url = valles_image_url.a['href']

In [44]:
# the work above should have been done in a for loop

[<h3>Cerberus Hemisphere Enhanced</h3>,
 <h3>Schiaparelli Hemisphere Enhanced</h3>,
 <h3>Syrtis Major Hemisphere Enhanced</h3>,
 <h3>Valles Marineris Hemisphere Enhanced</h3>]