In [19]:
# dependencies
import pandas as pd
import requests
import pymongo
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo
from splinter import Browser
from bs4 import BeautifulSoup as bs

# import urlparse

In [20]:
# chrome driver
executable_path = {"executable_path": "../chromedriver/chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)

In [21]:
## NASA MARS NEWS ##

In [22]:
# scrape NASA news site and collect latest article title and paragraph

latest_url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

browser.visit(latest_url)

In [24]:

html = browser.html

nasa_soup = bs(html, 'html.parser')
    
#     nasa_div = nasa_soup.find_all('div', class_='list_text')
    
#     for divs in nasa_div:
        
# put the title and paragraph into callable variables

nasa_title = nasa_soup.find_all('div', class_='content_title')[1].text

nasa_paragraph = nasa_soup.find_all('div', class_='article_teaser_body')[0].text
        

print("Title:", nasa_title) 
print("Text:", nasa_paragraph)

Title: My Culture, My Voice
Text: In honor of Hispanic Heritage Month, Christina Hernandez, an instrument engineer on the Mars 2020 mission, talks about her childhood and journey to NASA.

In [25]:
# JPL MARS IMAGES

In [26]:
# Visit the url for JPL Feature Space Image here, using splinter (Browser) to navigate the site


JPL_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

browser.visit(JPL_url) 

html = browser.html

mars_image_soup = bs(html, 'html.parser')

In [27]:
# inspecting the data (want the first image in its full size jpg) 
# mars_image_soup.find_all('img') 

mars_image = mars_image_soup.find_all('img')[3] 
mars_image = mars_image['src'] 
mars_image

'/spaceimages/images/wallpaper/PIA24112-640x350.jpg'

In [28]:
# get the desired url and save it in a variable called featured image url
# featured_image_url = JPL_url + mars_image
# featured_image_url
# FIX the overwrite in the final url
new_JPL_URL = "https://www.jpl.nasa.gov" 

featured_image_url = new_JPL_URL + mars_image
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24112-640x350.jpg'

In [29]:
# checking if successful 
# browser.visit(featured_image_url)

In [30]:
# MARS FACTS

In [31]:
# use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc
#refer to Unit-12, Day 1, Activity 07 for documentation and help 

mars_facts_url = "https://space-facts.com/mars/"

browser.visit(mars_facts_url)

In [35]:
pd_mars_facts = pd.read_html(mars_facts_url)
pd_mars_facts

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [36]:
mars_facts_table = pd_mars_facts[0]
mars_facts_table

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [39]:
# rename the tables columns 
mars_facts_df = mars_facts_table
mars_facts_df.columns = ["Description", "Data"] 
mars_facts_df

            Description                           Data
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [40]:
# Use Pandas to convert the data to a HTML table string
mars_html_table = mars_facts_df.to_html()
mars_html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Description</th>\n      <th>Data</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [41]:
# strip unwanted new lines to clean table 

mars_html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Description</th>      <th>Data</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [44]:
# MARS Hemispheres